body{
    background-image: 
    url("https://cdn-images-1.medium.com/max/1600/0*SgsW7BjiZ13g2tXv.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    padding: 20px 20px;
    margin-inline-start: 250px;
    margin-inline-end: 250px;
}

.question{
    background-color: peachpuff;
    color: black;
    text-align: center;
}

.h1{
    background-color: peachpuff;
}

.timer{
    background-color: black;
    color: peachpuff;
}